:root{
  --visitedLetter: grey;
}
body{
  overflow:hidden;
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 1.6rem;
  display: flex;
  flex-wrap: wrap;
}

.textField,.word{
  display: flex;
  flex-wrap: wrap;
}
.letter{
  min-width: .7rem;
}
.inputOverlay{
  position:absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
}
footer{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 2rem;
  background-color: black;
}

